<div>

<div class="sponsor">
  <a href="http://www.findmytwinonline.com">Find Your Look-Alike</a><br />
  Search for you look-alike, doppelganger or even find your Long Lost Twin.
</div>
<div class="sponsor">
  <a href="http://www.snappyad.com">Snappy-Ad Classifieds</a><br />
  Post unlimited free classified ads with images. Free Registration.
</div>
<div class="sponsor">
  <a href="#">Savers</a><br />
  Save money on apparel, furniture, paintings and
  more. Quality used items for less.
</div>
<div class="sponsor">
  <a href="#">Pizza Hut</a><br />
  Hungry? Come have dinner under the red roof, treat
  yourself to a delicious meal tonight.
</div>

</div>
