<div>
<p>Well, hello	there!</p>
<p>Thanks for coming to BlueMonkey!</p>
<p>We hope you will
hang around for a while and check out the site, see how you like
it. Let your eyes relax, this is a haven from flashing banner
ads and popup windows. Any advertising on this site is done in a
tasteful manner. If you do experience popup windows, you have
some type of AdWare on your computer. If so, click
<a href="#">here</a> for
information on how to remove it. Please visit our sponsors so we
can feed our monkey.</p>
</div>
