<div id="headerMain">
  <div id="navcontainer">
    <ul>
      <li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
      <li><a href="#">Home</a></li>
      <li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
      <li><a href="#">About</a></li>
      <li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
      <li><a href="#">Products</a></li>
      <li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
      <li><a href="#">Services</a></li>
    </ul>
</div>
</div>
