<div>

<p>Latest News:</p>
<p>We've expanded
operations, we are now supporting the tri-west area, including
Oregon and Washington. A big thank you goes out to all of you
who make it possible for us to continue.</p>
<h3>Free Template for commecial and personal use.</h3>
<p>This template is free to use for both personal and commercial use provided you leave the footer information in place.</p>
<p>Also if you feel generous you could provide a link to either <a href="http://www.findmytwinonline.com">http://www.findmytwinonline.com</a> or <a href="http://www.snappyad.com">http://www.snappyad.com</a>.</p>
<p>If you choose to use this template, let me know. I would love to see it in use. Just email me at bryanlass at idavista.com.</p>
<p>I hope you all enjoy this template.</p>
<p>Special thanks to <a href="http://www.mikesnow.com">Mike Snow</a> for his graphics work on this template.</p>
<p>
<a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a>
</p>

</div>
